@import "tailwindcss";

/* primereact */
@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind utilities;
}
/* end */

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-title: var(--font-title);
}

@theme {
  --color-primary-50: var(--color-teal-50);
  --color-primary-100: var(--color-teal-100);
  --color-primary-200: var(--color-teal-200);
  --color-primary-300: var(--color-teal-300);
  --color-primary-400: var(--color-teal-400);
  --color-primary-500: var(--color-teal-500);
  --color-primary-600: var(--color-teal-600);
  --color-primary-700: var(--color-teal-700);
  --color-primary-800: var(--color-teal-800);
  --color-primary-900: var(--color-teal-900);
  --color-primary-950: var(--color-teal-950);
}

@theme {
  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1536px;
}

@utility section-container {
  max-width: 1024px;
  margin-inline: auto;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 600ms infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Firefox: Global scrollbar color (thumb and track) and width */
html {
  scrollbar-color: var(--color-gray-100) var(--color-gray-950); /* thumb track */
}

/* WebKit browsers (Chrome, Safari, Edge): Global scrollbar styling */
*::-webkit-scrollbar-track {
  background: var(--color-gray-950); /* Track background color */
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-100); /* Thumb color */
  border-radius: 50%; /* Thumb border radius */
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-400); /* Optional: Darker thumb on hover */
}

/* custom */
.page-main-content {
  min-height: max(80vh, 600px);
}

header {
  .p-button.p-button-icon-only.p-button-rounded {
    width: 2rem;
    height: 2rem;
    color: var(--color-gray-100);
  }
}

.required::after {
  content: "*";
  color: var(--color-red-500);
}

/* end */

/* vendor overrides */

.react-responsive-modal-container .p-button:focus {
  box-shadow: rgb(255 255 255) 0px 0px 0px 1px;
}

.swiper {
  --swiper-theme-color: var(--color-gray-100);
}

.swiper-slide {
  transition-property: transform, opacity !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: auto !important;
  bottom: 16px !important;
  width: 12px !important;
  height: 20px !important;
}

.swiper-button-prev {
  left: auto !important;
  right: 5.3% !important;
}

.swiper-button-next {
  right: 16px !important;
}

.swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper .autoplay-progress {
  top: 16px;
  bottom: auto;
  width: 22px;
  height: 22px;
  right: 16px;
}

.swiper-slide:not(.swiper-slide-active) {
  pointer-events: none;
}

.swiper-pagination {
  bottom: 15px !important;
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination-bullet {
  background: var(--color-gray-100) !important;
}

/* end */

@media (max-width: 768px) {
  .swiper-button-prev {
    right: 56px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 10px !important;
    height: 18px !important;
  }
}
